/* styles to shape keyboard */

/*soft default font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/*monospace hackerman font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Space+Mono&display=swap');

/*color set*/
:root {
   /*defaults*/
   --white: #ffffff;
   --black: #000000;
   
   /*baby blues*/
   --darkTeal: #176582;
   --teal: #5590b4;
   --lightTeal: #c2efff;
   --babyTan: #c3b7ac;
   --softYellow: #e0c07b;

   /*beach day*/
   /*--white*/
   --greyTan: #cbc7bd;
   --tan: #b6a290;
   --deepTan: #856951;
   --deepOrange: #cf6120;

   /*orchid field*/
   --plum: #3c1e6c;
   --orchid: #884389;
   --deepPink: #af7480;
   --cream: #f3f0dd;
   --plantGreen: #626b1e;

   /*hackerman classic*/
   --hackerGreen: #20c20e;

   /*hackerman blue*/
   --hackerLightBlue: #05b0ff;
   --hackerDarkBlue: #243c55;
}

/*page grid setup*/
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "nav-wrapper"
        "timer-wrapper"
        "type-test-wrapper"
        "keyboard"
        "footer";
} 

html {
    width: 100%;
}

/* default settings */
body {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    background-color: var(--white);
    min-width: 1250px;
    min-height: 350px;
    max-width: 1904px; 
}

#timer-wrapper {
    display: grid;
    text-align: left; 
}

#timer {
    padding: 30px;
    margin: 10px;
}

#type-test {
    display: grid;
    font-size: 24px;
    text-align: center;
    padding: 36px;
    margin: 36px;
}

#keyboard {
    display: grid;
    text-align: center;
    padding: 60px;
    margin-bottom: 260px;
}

p {
    display: inline-block;
}

#acknowledgements {
    text-align: bottom;
    text-align: center;
}

/*navbar features*/
#navbar {
    background-color: var(--black);
    padding: 12px;
    border-radius: 20px;
    visibility: hidden;
    border: 5px solid;
}

/*settings button*/
#settings-wrapper {
    text-align: center;
}

#settings {
    background-image: url('/images/settings-default.png');
    border: none;
    background-color: inherit;
    width: 24px;
    height: 24px;
    visibility: visible;
}

#settings:hover, #settings:focus {
    cursor: pointer;
}

/*close button*/
#close-wrapper {
    text-align: center;
}

#close {
    background-image: url('/images/close-default.png');
    border: none;
    background-color: inherit;
    width: 24px;
    height: 24px;
    visibility: hidden;
}

#close:hover, #close:focus {
    cursor: pointer;
}

/*color palette options*/
#colors { 
    text-align: center; 
}

li {
    display: inline; 
}

#default, #default-dark {
    font-size: 18px;
    color: var(--white);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
    background-color: inherit;
}

#default:hover, #default:focus { 
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
}

#default-dark:hover, #default-dark:focus {
    color: var(--white);
    background-color: var(--black);
    border: 2px solid var(--white);
    border-radius: 10px;
}

#baby-blues {
    font-size: 18px;
    color: var(--teal);
    background-color: inherit;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#baby-blues:hover, #baby-blues:focus {
    color: var(--lightTeal);
    background-color: var(--teal);
    border: 2px solid var(--teal);
    border-radius: 10px;
}

#beach-day {
    font-size: 18px;
    color: var(--deepOrange);
    background-color: inherit;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#beach-day:hover, #beach-day:focus {
    color: var(--white);
    background-color: var(--tan);
    border: 2px solid var(--tan);
    border-radius: 10px;
}

#orchid-field {
    font-size: 18px;
    color: var(--orchid);
    background-color: inherit;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#orchid-field:hover, #orchid-field:focus {
    color: var(--cream);
    background-color: var(--orchid);
    border: 2px solid var(--orchid);
    border-radius: 10px;
}

#hackerman-classic {
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: var(--hackerGreen);
    background-color: inherit;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#hackerman-classic:hover, #hackerman-classic:focus {
    color: var(--hackerGreen);
    background-color: var(--black);
    border: 2px solid var(--hackerGreen);
    border-radius: 10px;
}

#hackerman-blue {
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: var(--hackerLightBlue);
    background-color: inherit;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#hackerman-blue:hover, #hackerman-blue:focus {
    color: var(--hackerLightBlue);
    background-color: var(--hackerDarkBlue);
    border: 2px solid var(--hackerLightBlue);
    border-radius: 10px;
}

/*normal keys*/
.key, .primary-key {
    height: 1em;
    width: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}

/*shift keys*/
.shift-key {
    display: none
}

/*large keys*/
.large-key {
    height: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}

#backspace {
    width: 5em;
    text-align: left;
}

#tab {
    width: 5em;
    text-align: right;
}

#caps-lock {
    width: 5em;
    text-align: right;
}

#enter {
    width: 5em;
    text-align: left;
}

#shift-left {
    width: 7em;
    text-align: right;
}

#shift-right {
    width: 7em;
    text-align: left;
}

#spacebar {
    width: 24em;
}