/* styles to shape keyboard */

/*font*/
/*@import url() */

/*page grid setup*/
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "colors"
        "type-test"
        "keyboard";
}

/* default color scheme */
body {
    color: #000000;
    background-color: #ffffff;
    vertical-align: baseline;
    min-width: 1250px;
    min-height: 350px;
}

#type-test {
    display: grid;
    text-align: center;
}

#keyboard {
    display: grid;
    text-align: center;
}

p {
    display: inline-block;
}

/*color palette options*/
#colors { 
    text-align: center;
}

li {
    display: inline;
}

#default {
    color: #000000;
    background-color: #ffffff;
}

#default-dark {
    color: #ffffff;
    background-color: #000000;
}



/*normal keys*/
.key, .primary-key {
    height: 1em;
    width: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}

/*shift keys*/
.shift-key {
    display: none
}

/*large keys*/
.large-key {
    height: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}

#backspace {
    width: 5em;
    text-align: left;
}

#tab {
    width: 5em;
    text-align: right;
}

#caps-lock {
    width: 5em;
    text-align: right;
}

#enter {
    width: 5em;
    text-align: left;
}

#shift-left {
    width: 7em;
    text-align: right;
}

#shift-right {
    width: 7em;
    text-align: left;
}

#spacebar {
    width: 24em;
}