/* styles to shape keyboard */

/*soft default font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
/*monospace hackerman font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Space+Mono&display=swap');

/*page grid setup*/
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "navbar"
        "type-test"
        "keyboard";
} 

/* default color scheme */
body {
    font-family: 'Inter', sans-serif;
    color: #000000;
    background-color: #ffffff;
    vertical-align: baseline;
    min-width: 1250px;
    min-height: 350px;
}

#type-test {
    display: grid;
    font-size: 24px;
    text-align: center;
    padding: 36px;
    margin: 36px;
}

#keyboard {
    display: grid;
    text-align: center;
}

p {
    display: inline-block;
}

.navbar {
    background-color: #000000;
    padding: 12px;
}

/*color palette options*/
#colors { 
    text-align: center; 
}

li {
    display: inline; 
}

#default, #default-dark {
    font-size: 18px;
    color: #ffffff;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
    background-color: #000000;
}

#default:hover, #default:focus { 
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
}

#default-dark:hover, #default-dark:focus {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

#baby-blues {
    font-size: 18px;
    color: #5590b4;
    background-color: #000000;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#baby-blues:hover, #baby-blues:focus {
    color: #c2efff;
    background-color: #5590b4;
    border: 2px solid #5590b4;
    border-radius: 5px;
}

#beach-day {
    font-size: 18px;
    color: #cf6120;
    background-color: #000000;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#beach-day:hover, #beach-day:focus {
    color: #ffffff;
    background-color: #b6a290;
    border: 2px solid #b6a290;
    border-radius: 5px;
}

#orchid-field {
    font-size: 18px;
    color: #884389;
    background-color: #000000;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#orchid-field:hover, #orchid-field:focus {
    color: #f3f0dd;
    background-color: #884389;
    border: 2px solid #884389;
    border-radius: 5px;
}

#hackerman-classic {
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: #20c20e;
    background-color: #000000;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#hackerman-classic:hover, #hackerman-classic:focus {
    color: #20c20e;
    background-color: #000000;
    border: 2px solid #20c20e;
    border-radius: 5px;
}

#hackerman-blue {
    font-size: 18px;
    font-family: 'Space Mono', monospace;
    color: #05b0ff;
    background-color: #000000;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    border: none;
}

#hackerman-blue:hover, #hackerman-blue:focus {
    color: #05b0ff;
    background-color: #000000;
    border: 2px solid #05b0ff;
    border-radius: 5px;
}

/*normal keys*/
.key, .primary-key {
    height: 1em;
    width: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}

/*shift keys*/
.shift-key {
    display: none
}

/*large keys*/
.large-key {
    height: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}

#backspace {
    width: 5em;
    text-align: left;
}

#tab {
    width: 5em;
    text-align: right;
}

#caps-lock {
    width: 5em;
    text-align: right;
}

#enter {
    width: 5em;
    text-align: left;
}

#shift-left {
    width: 7em;
    text-align: right;
}

#shift-right {
    width: 7em;
    text-align: left;
}

#spacebar {
    width: 24em;
}