/* styles to shape keyboard */

/*font*/
/*@import url() */

/*page grid setup*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "colors"
        "."
        "keyboard";
}

/* default color scheme */
body {
    color: #000000;
    background-color: #ffffff;
    vertical-align: baseline;
    min-width: 1250px;
    min-height: 350px;
}

p {
    display: inline-block;
}

div {
    text-align: center;
}

/*normal keys*/
.key, .primary-key {
    height: 1em;
    width: 1em;
    border: 5px solid;
    padding: 1rem;
    margin: 2px;
    border-radius: 20px;
}


